<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="🧑🏽‍💻" />
    <title>Artx Links</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main id="main">
      <div class="container">
        <img
          class="avatar"
          src="https://Github.com/mwilliam26.png"
          alt="Imagem do William"
        />
        <h1>Marcos William</h1>
        <p>@williamm__26</p>

        <ul>
          <li>
            <a href="https://www.instagram.com/williamm__26/" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://twitter.com/williammarcos32" target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://github.com/mwilliam26" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/marcoswilliiam" target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
      <div class="container">
        <img
          class="avatar"
          src="https://Github.com/ArthurLucass.png"
          alt="Imagem do Arthur"
        />
        <h1>Arthur Lucas</h1>
        <p>@wtfarthur_</p>

        <ul>
          <li>
            <a
              href="https://arthurlucass.github.io/ArthurLucas-Portfolio/"
              target="_blank"
              >Portfólio</a
            >
          </li>
          <li>
            <a href="https://Instagram.com/wtfarthur_" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://Twitter.com/is_Artx" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://Github.com/ArthurLucass" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://Linkedin.com/in/arthurlucass" target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
        <div class="btn">
          <button
            pButton
            pRipple
            type="button"
            label="Voltar"
            (click)="handleClick()"
            routerLink="/perfil"
            class="p-button-raised p-button-danger"
            [ngStyle]="{
              backgroundColor: 'var(--red-500)',
              border: 'none',
              width: '200px',
              height: '50px',
              color: '#fff',
              fontFamily: 'Roboto Mono'
            }"
          ></button>
        </div>
      </div>
      <div class="container">
        <img
          class="avatar"
          src="https://yt3.ggpht.com/TQB6U9ClJoz7Zie_1Hm12zj9Q_Ui8nsdeDivGq-ujOoedhMYDTTIRw_gg6QoqZf8lU9GQ1hSDRQ=s176-c-k-c0x00ffffff-no-rj"
          alt="Imagem do João"
        />
        <h1>João Guilherme</h1>
        <p>@eujguilherme</p>

        <ul>
          <li>
            <a href="https://www.instagram.com/eujguilherme/" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://twitter.com/euJGuilherme" target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://github.com/JGuilherme007" target="_blank"
              >Github</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/c/euJGuilherme" target="_blank"
              >YouTube</a
            >
          </li>

          <li>
            <a href="https://www.tiktok.com/@eujguilherme" target="_blank"
              >TikTok</a
            >
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
