section {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  gap: 10px;
  margin: 25px;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  background-color: #067344;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;

  background-color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
}

nav p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;

  color: #000000;
  cursor: pointer;
  align-items: center;
  text-align: initial;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.imgArea {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.imgArea img {
  width: 70px;
}
.imgArea p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 5px;
  color: #000000;
}

/* ---------------------- */

main {
  flex: 4;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  background-color: #fff;
}

.titleMain {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}

.imgContent {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
}

/* ---------------------- */

.bottomContent {
  display: flex;

  justify-content: space-between;
  padding: 30px 0px;
}

/* .leftContent,
.rightContent {
  width: 50%;
} */

.titleText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}

.inputContent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.input {
  width: 400px;
  height: 50px;
  padding: 5px;

  outline: 0;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 15px;
  align-items: center;
  background-color: #161616;
}

.label {
  font-family: "open sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;

  color: #067344;
}
