<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <section class="container">
      <section class="content-left">
        <p class="title">Login</p>

        <div class="input-container">
          <div class="content-input">
            <label class="label" for="password1">Usuário</label>

            <input
              id="username1"
              type="username"
              aria-describedby="username1-help"
              pInputText
              [(ngModel)]="value1"
              placeholder="Digite seu usuário"
            />
            <label class="label" for="password1">Senha</label>
            <input
              id="password1"
              type="password"
              aria-describedby="password1-help"
              pInputText
              [(ngModel)]="value2"
              placeholder="Digite sua senha"
            />
          </div>
          <div class="Content-f-p">
            <p class="TextForgetPassword" (click)="SendToForgetPassword()">
              Esqueceu a senha?
            </p>
          </div>
          <div class="btn-container">
            <button
              pButton
              pRipple
              (click)="cancelClick()"
              type="button"
              label="Cancelar"
              class="p-button-raised p-button-secondary"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Login"
              (click)="handleClick()"
              class="p-button-raised p-button-danger"
            ></button>
          </div>
        </div>
      </section>
      <section class="content-right">
        <div class="image">
          <img src="../../../assets/logoIF.png" />
        </div>
      </section>
    </section>
  </body>
</html>
