<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <h1 class="titleHeader">Instituto Federal Baiano Campus Uruçuca</h1>
      </div>
      <div class="btnArea">
        <button
          pButton
          pRipple
          type="button"
          label="Adicionar produto"
          (click)="handleClick()"
          routerLink="/adicionar-produto"
          class="p-button-raised p-button-danger"
          [ngStyle]="{
            backgroundColor: 'var(--red-500)',
            border: 'none',
            width: '200px',
            height: '50px'
          }"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-user"
          routerLink="/perfil"
          class="p-button-rounded p-button-info"
          [ngStyle]="{
            backgroundColor: 'var(--bluegray-300)',
            border: 'none',
            width: '70px',
            height: '70px'
          }"
        ></button>
      </div>
    </header>
    <main>
      <h1 class="titlePage">Produtos</h1>
      <section class="container">
        <div class="table-container">
          <p class="table-title">{{ tableTitle }}</p>
          <div class="Card">
            <div class="imgCard">
              <img src="../../../assets/logoIF.png" />
            </div>
            <div class="textCard">
              <p class="itensTextCard">{{ CardText }}</p>
              <div class="btnCard">
                <button (click)="clickDetails()" class="btnDetails">
                  Detalhes
                </button>

                <button (click)="clickEdit()" class="btnEdit">Editar</button>
                <button (click)="clickDelete()" class="btnDelete">
                  Excluir
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <p class="table-title">{{ tableTitle }}</p>
        </div>
        <div class="table-container">
          <p class="table-title">{{ tableTitle }}</p>
        </div>
      </section>
    </main>
  </body>
</html>
