section {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #067344;
}

.titlePage {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.content {
  display: grid;
  gap: 20px;

  padding: 20px 30px;
  border-radius: 10px;
  background-color: #fff;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.p-inputtext {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #161616;
  background-color: #ccc;
}
.p-inputtext::placeholder {
  color: #161616;
}

.btnContent {
  display: flex;
  gap: 20px;
  color: #fff;
}
.btnContent button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
