<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar senha</title>
  </head>
  <body>
    <section class="container">
      <section class="content-left">
        <p class="title">Recupere sua senha</p>
        <div class="input-container">
          <div class="content-input">
            <label for="#usuario">Usuário</label>
            <input id="usuario" type="text" placeholder="Digite o usuário" />

            <label for="#senha">Senha</label>
            <div>
              <p-password
                id="senha"
                [(ngModel)]="value3"
                [toggleMask]="true"
                placeholder="Digite a senha"
              ></p-password>
            </div>

            <label for="#confirmarsenha">Confirmar Senha</label>
            <div>
              <input
                id="confirmarsenha"
                type="password"
                placeholder="Digite a senha novamente"
                required
                minlength="8"
              />
            </div>
            <div class="btn-container">
              <button type="submit" routerLink="/login">Confirmar</button>
              <button class="btn2" type="submit" routerLink="/login">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="content-right">
        <div class="image">
          <img src="../../../assets/logoIF.png" />
        </div>
      </section>
    </section>
  </body>
</html>
