.container {
  height: 100vh;
  display: flex;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #067344;
}
.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #161616;
}

.title {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #fff;
}
.textInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.content-input {
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.p-inputtext {
  width: 400px;
  height: 50px;
  padding: 5px;

  outline: 0;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 15px;

  background-color: #161616;
}

.btn-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.p-button-danger {
  border: none;
  background-color: #d92929;
  color: #fff;
}

.image {
  display: grid;
  justify-content: center;
}
