<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar senha</title>
  </head>
  <body>
    <section class="container">
      <section class="content-left">
        <p class="title">Recupere sua senha</p>
        <p class="textInfo">
          Para recuperar sua senha digite seu E-mail ou nome de Usuário.
        </p>
        <div class="input-container">
          <div class="content-input">
            <!-- <label for="#usuario">Usuário</label>
            <input id="usuario" type="text" placeholder="Digite o usuário" /> -->

            <input
              id="username1"
              type="username"
              aria-describedby="username1-help"
              pInputText
              [(ngModel)]="value1"
              placeholder="Digite aqui..."
            />

            <div class="btn-container">
              <!-- <button type="submit" routerLink="/login">Confirmar</button>
              <button class="btn2" type="submit" routerLink="/login">
                Cancelar
              </button> -->
              <button
                pButton
                pRipple
                routerLink="/login"
                type="button"
                label="Cancelar"
                class="p-button-raised p-button-secondary"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                label="Enviar"
                (click)="handleClick()"
                class="p-button-raised p-button-danger"
              ></button>
            </div>
          </div>
        </div>
      </section>
      <section class="content-right">
        <div class="image">
          <img src="../../../assets/logoIF.png" />
        </div>
      </section>
    </section>
  </body>
</html>
